{% extends "min_base.html" %}
{% block content %}

<style type="text/css">
  body {
    background: #9CECFB;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0052D4, #65C7F7, #9CECFB);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0052D4, #65C7F7, #9CECFB);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
</style>

<div class="container">
  <img rel="shortcut icon" src="{{ url_for('static', filename='img/logo_transparent.png') }}" style="position: absolute; right: 50px;">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h5 class="card-title text-center">Sign In</h5>
            <form class="form-signin" action="{{ url_for('login') }}" method="post">
              <div class="form-label-group">
                <input type="email" name="inputEmail" class="form-control" placeholder="Email address" required>
              </div>
              <div class="form-label-group">
                <input type="password" name="inputPassword" class="form-control" placeholder="Password" required>
              </div>
              <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Sign in</button>
              <hr class="my-4">
            </form>
            <form class="form-signin" action="{{ url_for('registerPage') }}">
              <button class="btn btn-lg btn-secondary btn-block text-uppercase" type="submit">Register</button>
          </form>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}}
